[Unit]
Description=isli-line
Requires=isli-cam.service
[Service]
Type=simple
ExecStart=/root/decode_srv/isli_line_srv
[Install]
WantedBy=isli-scanner.service
